{% extends 'catalog/base.html' %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if perms.catalog.change_product %}
    {{ form.name }}
    {% else %}
    {{ form.name.as_hidden }}
    {% endif%}
    <p> {% if perms.catalog.change_product %}
    {{ form.price }}
    {% else %}
    {{ form.price.as_hidden }}
    {% endif%} </p>
    <p> {{ form.category }} </p>
    <p> {{ form.description }} </p>
    {% if perms.catalog.change_product %}
    {{ form.image }}
    {% else %}
    {{ form.image.as_hidden }}
    {% endif%}
    <p> {{ form.is_published }} </p>

<h3>Product Version</h3>
   {{ formset.management_form }}
   {%  for form in  formset.forms %}
       {{ form.as_p }}
   {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}

