{% extends 'catalog/base.html' %}
{% block content %}
<h3>This contacts page</h3>
<h3>Form for send feedback.</h3>
<form method="post">
{% csrf_token %}
    <p>
    Input NAME:  <input type="text" name="name"/><p>
    Input SURNAME:  <input type="text" name ="surname"/><p>
    Input EMAIL:  <input type="email" name ="email"/><p>
    FEEDBACK:  <textarea name="feedback"></textarea><p>
    <input type="submit" value="Send">
</form>

<h4>Our contacts. Here you can see contacts yhat were add in admin menu.</h4>
{% for contact in info_contacts %}
<li>{{ contact.name }}  {{ contact.surname }}  {{ contact.email }}</li>
{% endfor %}

{% endblock %}
