{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-body-secondary">Here you can see last 6 product on site.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
         {% for item in items %}
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ item.name }}</h4>
          </div>
            <div class="card-body">
             <ul class="list-unstyled mt-3 mb-4">
              <li>PRICE: {{item.price}}</li>
              <li>DESCRIPTION: {{item.description | slice:100 }}</li>
              <li><img src="{% media_path item.image %}" width="100" alt="{{ item.name }}"></li>
            </ul>
            <p><a href="{% url 'catalog:product_card' item.slug %}" class="w-100 btn btn-lg btn-outline-primary">Show</a></p>
            {% if user.is_authenticated %}
                <p><a href="{% url 'catalog:update_product' item.slug %}" class="w-100 btn btn-lg btn-outline-primary">Update</a></p>
            {% endif %}
            </div>
        </div>
      </div>
         {% endfor %}
    </div>
 <p class="fs-5 text-body-secondary">Here you can see our product categories.</p>
{% for cat in Categories %}
<li> {{ cat }} </li>
{% endfor%}

{% endblock %}
